<div class="container">
  <div class="title"><h2>Alquila a Estudiantes</h2></div>
  <br><br>
  <div class="row">
    <div class="col-xs-12 col-sm-4 ">
      <div class="icon">
        <i class="fa fa-graduation-cap" style="font-size:64px;color:#03C9A9"></i>
      </div>
      <h3>Encuentra estudiantes</h3>
      <p>Muchos estudiantes se conectan a Campus House para encontrar una residencia cerca a su universidad.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="icon">
        <i class="fa fa-envelope" style="font-size:64px;color:#03C9A9"></i>
      </div>
      <h3>Recibe Ofertas</h3>
      <p>Agenda citas y recibe ofertas a tu correo directo a tu correo electrónico.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="icon">
        <i class="fa fa-tablet" style="font-size:64px;color:#03C9A9"></i>
      </div>
      <h3>Administra fácilmente</h3>
      <p>Administra listados desde tu computador, tablet o teléfono móvil.</p>
    </div>
  </div>
  <br>
  <div class="end">
    <h3>Publica con nosotros gratis en tres pasos!</h3>
  </div>
  <br>
  <div class="button"><%= link_to "Publica tu residencia", residences_path, require_login: true, class: 'btn btn-conf-2 btn-green' %></div>

</div>
