/*GENERAL STRUCTURES*/
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
  font-family: 'Lato', sans-serif;
}

body {
  background: white;
  margin: 0;
  color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p {
  padding: 0;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #black;
  margin-top: 10px;
}

html, body {
  height: 100%;
}

hr {
  max-width: 50px;
  border-width: 3px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: background-color .4s linear, color .4s linear;
  color: #1abc9c;
  &:hover, &:focus {
    text-decoration: none;
    color: #696E74;
  }
}

.nopadding {
  padding: 0px !important;
  margin: 0px;
}

// ALERTS

.alert {
  padding: 12px;
  position: absolute;
  top: 75px;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
}

/* BUTTONS CONFIGURATION */

.btn-green {
  letter-spacing: 1px;
  background: #03C9A9;
  color: white;
}

/*NAVBAR*/
nav {
  margin-bottom: 0 !important;
  .bordered-item {
    padding: 10px;
    div {
      padding: 5px;
      border: 1px solid gray;
      a {
        color: gray;
      }
    }
  }
}

// ERRORS IN FORMS
.field_with_errors {
  small {
    display: block;
    color: red;
  }
}

#error_explanation {
  padding: 7px;
  color: red;
}