// Place all the styles related to the residences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
	margin-bottom: 0 !important;
}

.search {
  min-height: calc(100% - 52px);
  height: calc(100% - 52px);
  .residences {
    background: rgba(211, 211, 211, 0.20);
    padding-top: 50px;
    padding-bottom: 50px;
  	img {
  		width: 100%;
  	}
  	.description-wrapper {
	    padding: 10px;
	    .text-description-wrapper {
	    	float: left;
		    font-size: 18px;
		  	.residence-title {
		  		font-weight: bold;
		  	}
		  	.private-room {
			    color: rgba(85,85,85,0.50);
		  	}
	    }
	    .favorite-price-wrapper {
		  	padding-top: 5px;
	    	float: right;
	    	.fa-heart{
			    color: lightgray;
			    &:hover {
			    	color: rgba(255, 0, 35, 0.67);
			    }
	    	}
	    	.price {
	    		font-size: 24px;
	    	}
	    }
  	}
  }
  #map {
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
}