#residences.container-fluid.fill
	.row.fill
		.col-md-7
			%br	
			%section.row
				.col-lg-3.col-md-12
					.form-group
						Rango de precios
				.col-lg-9.col-md-12
					#price
			%section.row.residences
				.col-sm-12.col-md-6
					%article
						%img{:src => 'https://a2.muscache.com/im/pictures/108220114/ef781d61_original.jpg?aki_policy=x_medium'}
						.description-wrapper
							.text-description-wrapper
								.residence-title
									Residencia cerca al centro
								.private-room
									Habitación privada
							.favorite-price-wrapper
								%i.fa.fa-heart.fa-2x
									&nbsp;
								%span.price
									$100.000
		.col-md-5.fill.nopadding
			%section#map

= javascript_include_tag 'https://maps.googleapis.com/maps/api/js'
= stylesheet_link_tag 'freshstyle'
= javascript_include_tag 'freshslider.1.0.0'
